* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url(imgs//mp1.JPG);
    color: whitesmoke;
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


/*header*/

.mainPageHeader {
    width: 99.5vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    position: absolute;
    margin-bottom: 5%;
    top: 0;
}

.headerLogoImg {
    max-height: 12vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.mainPageHeader a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 5vh;
    margin-top: 2.5vh;
}


/*adaptive header*/

@media screen and (max-width: 500px) {
    .mainPageHeader>a {
        font-size: medium;
    }
    .mainPageHeader>img {
        max-width: 15vw;
    }
    .wrapper {
        margin-top: 8vh;
    }
}


/*hover header*/


/*.headerLogoImgTwo {
    display: none;
}

.mainPageHeader:hover .headerLogoImg {
    display: none;
}

.mainPageHeader:hover .headerLogoImgTwo {
    display: inline-block;

.headerLogoImgTwo {
    min-width: 10vw;
    max-height: 15vh;
}

}*/

@media screen and (min-width: 500px) {
    .mainPageHeader>a:hover {
        background-color: whitesmoke;
        color: black;
        /* font-size: 60px;*/
        max-width: 40vw;
        margin-bottom: 3vh;
    }
    .wrapper {
        margin-top: 15vh;
    }
}


/*footer*/

footer {
    width: 99.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid whitesmoke;
    height: 30vh;
    margin-top: 5%;
    position: absolute;
    font-size: 25px;
}

ul {
    list-style: none;
}


/*wrapper*/

.wrapper>p {
    max-width: 90vw;
}

.gridWrapper {
    max-width: 90vw;
    background-color: black;
    padding: 2%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
}

.gridWrapper>img {
    max-width: 50vw;
    max-height: 60vh;
}