* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.mainPageHeader,
footer {
    background-color: black;
    color: white;
}


/*header*/

.mainPageHeader {
    width: 99vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    position: absolute;
    margin-bottom: 5%;
    top: 0;
}

.headerLogoImg {
    max-height: 10vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.headerA {
    text-decoration: none;
    color: whitesmoke;
    font-size: 4vh;
    margin-top: 2.5vh;
}


/*adaptive header*/

@media screen and (max-width: 500px) {
    .mainPageHeader>a {
        font-size: medium;
    }
    .mainPageHeader>img {
        max-width: 15vw;
    }
    .wrapper {
        margin-top: 8vh;
    }
}


/*hover header*/

.headerA:hover {
    background-color: whitesmoke;
    color: black;
    /* font-size: 60px;*/
    max-width: 40vw;
    margin-bottom: 3vh;
    border-radius: 15px;
}

.wrapper {
    margin-top: 15vh;
}


/*footer*/

footer {
    width: 99vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid whitesmoke;
    height: 30vh;
    margin-top: 5%;
    position: absolute;
    font-size: 25px;
}

ul {
    list-style: none;
}

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 3%;
    padding-top: 3%;
}

.mainWrapper {
    font-size: 22px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
}

.mainPtxt2 {
    padding: 2%;
}

.wrapper1>div {
    margin-top: 5%;
}

.wrapper1>img {
    width: 50%;
    height: auto;
    margin-top: 5%;
}

.wrapper1>p {
    max-width: 90vw;
}

.gridWrapper {
    max-width: 90vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
}

.gridWrapper>img {
    max-width: 50vw;
    max-height: 60vh;
}

.paintDiv>div>img {
    width: 100%;
    height: 100%;
}

.paintDiv>div {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    gap: 10px;
}

.anod>div>img {
    width: auto;
    height: 50%;
}

.anod>div {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

.anod {
    max-height: 1000px;
    margin: 2%;
}