body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.choseRise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choseRise input[type="button"] {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.choseRise input[type="button"]:hover {
    background-color: transparent;
    color: #fff;
    /* Reverted font color to white */
}

.upsweep,
.backsweep,
.barWidth {
    margin-top: 20px;
}

.upsweep p,
.backsweep p,
.barWidth p {
    margin-bottom: 10px;
}

input[type="number"],
input[type="button"] {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #007bff;
    color: #fff;
}

img#anodColorsImg {
    width: 100%;
    max-width: 90%;
    /* Reduced size for the color examples image */
}

.choseAnod,
.textInfo,
.customerInfoDiv {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

textarea,
input,
button {
    background-color: rgb(214, 214, 214);
}

.tick-cross {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.riseImg {
    max-width: 20vh;
}


/*slider btn for colors*/

.switch {
    display: inline-block;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 5px 15px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    content: attr(data-text-checked);
}

.slider:before {
    position: absolute;
    content: attr(data-text);
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;
}


/* Style the buttons inside the tabs */

.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: whitesmoke;
}


/* Change background color of buttons on hover */

.tablinks:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tablinks.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}